body {
    /*background-image: linear-gradient(to bottom, #111214, #0f0f11, #0c0c0e, #090909, #050505);*/
    /*background-image: linear-gradient(to left top, #1c1c1e, #1d1d1f, #1e1e20, #1f1f21, #202022, #212123, #222223, #232324, #242425, #242425, #252526, #262627);*/
    /*background-color: yellowgreen;*/
    background-image: linear-gradient(to top, #1b1c1d, #1c1d1e, #1c1d1f, #1d1e20, #1e1e21, #1f1f22, #202023, #212124, #222226, #232427, #252529, #26272a);
    margin-right: 1em;
    margin-left: 1em;
}

.container {
    display: grid;
    width: 100%;

    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1%;

    padding: 0;
    border: 0;

    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;

    justify-content: center;
}

/*--------------------------- HEADER ---------------------------*/
.big_headline {
    font-size: 64pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;

    grid-column: 1 / span all;
    justify-self: center;

    margin-top: 2rem;
    margin-bottom: 0;
}

.name_headline {
    font-size: 24.4pt;
    font-weight: 300;
    letter-spacing: 0.618em;
    margin-right: -0.618em;

    grid-column: 2 / span 2;
    justify-self: center;

    margin-bottom: 0;

    opacity: 90%;
}

.top_menu {
    font-size: 24pt;
    font-weight: 200;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    word-spacing: 1.8em;

    grid-column: 1 / span all;
    justify-self: center;

    opacity: 60%;

    margin-top: 3rem;
    margin-bottom: 4rem;
}
/*--------------------------- header end ---------------------------*/

/*--------------------------- CARDS ---------------------------*/

.container img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    justify-self: center;
    /*position: relative;*/
    /*z-index: -1;*/
}

.swiper {
    width: 40rem;
    height: 56rem;
    margin-top: 10em;
    margin-bottom: 5em;

    grid-column: 1 / span all;
    justify-self: center;

    position: relative;
}


.swiper-slide {
    position: relative;
}


.card_headline p {
    font-size: 39.5pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
}

.card_headline_bottom p {
    font-size: 39.5pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
}
.card_headline_bottom h1 {
    font-size: 39.5pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
}

.clip_top {
    clip-path: inset(50% 0 0 0);
}
.clip_bottom {
    clip-path: inset(0 0 52% 0);
}


.card_subheadline p{
    font-size: 24pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
    white-space: normal;
}

.card_headline{
    position: absolute;

    /*margin-top: 0;*/
    /*margin-bottom: 0;*/

    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: 2;
}

.card_headline_bottom {
    position: absolute;

    /*margin-top: 0;*/
    /*margin-bottom: 0;*/

    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: 5;
}


.card_subheadline {
    margin-top: 1.618em;
    text-align: center;
}

.black_font p {
    color: #1b1c1d;
}


