root {
    --fs_basic: clamp(20pt, 12vw + 1rem, 68pt);
}

/*--------------------------- FONTS ---------------------------*/
.f_base24 {
    font-size: 24pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;

    margin-top: 0;
    margin-bottom: 0;
}

.f_base14 {
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
}

.f_base8 {
    font-size: 8pt;
    font-weight: 300;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
}

/*--------------------------- end ---------------------------*/

body {
    background-image: linear-gradient(to top, #1b1c1d, #1c1d1e, #1c1d1f, #1d1e20, #1e1e21, #1f1f22, #202023, #212124, #222226, #232427, #252529, #26272a);
    margin: 0;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
}

main, header {
    margin: 0 16px;
}
header {
    margin-top: 16px;
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    justify-content: center;
    margin-bottom: 5%;
}

.container {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-column-gap: 1%;
    grid-auto-rows: minmax(min-content, max-content);

    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;

    justify-content: center;
    justify-items: center;
}

/*--------------------------- HEADER ---------------------------*/
.big_headline {
    grid-column: 1 / span all;
    justify-self: center;
}

.name_headline {
    font-size: 9pt;

    grid-row: 3;

    justify-self: center;

    margin-bottom: 0;

    opacity: 90%;
}

.top_menu {
    font-size: 9pt;

    letter-spacing: 0.3em;
    margin-right: -0.3em;
    word-spacing: 1em;

    justify-self: center;

    text-align: left;

    margin-top: 5%;
    margin-bottom: 6%;
}

.top_menu a {
    color: #f5f5f590;
    text-decoration: none;

    transition: color 0.4s;
}

.top_menu a:hover {
    color: #f5f5f5;
}

/*--------------------------- header end ---------------------------*/

/*--------------------------- CARDS ---------------------------*/

.container img {
    object-fit: cover;
    width: 100%;
    max-height: 99%;

    border-radius: 2%;
}

.swiper {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.4;
    margin-top: 15%;
    margin-bottom: 30%;

    grid-column: 2/span 2;
    justify-self: center;
}

.card_headline h2 {
    letter-spacing: 0.4em;
    margin-right: -0.4em;
}

.card_headline{
    max-width: 98%;
    position: absolute;
    transform: translateZ(1px);

    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: 2;
}

.swiper-slide {
    position: relative;
}



.clip_top {
    clip-path: inset(50% 0 0 0);
}
.clip_bottom {
    clip-path: inset(0 0 60% 0);
}


.card_subheadline {
    text-align: center;
}

.black_font {
    color: #1b1c1d;
}
/*--------------------------- end ---------------------------*/

/*--------------------------- ABOUT ---------------------------*/

.portrait {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 4;

    margin-top: 25%;
    align-self: end;
    justify-self: left;
}

.me_img {
    object-fit: contain;
    width: 100%;
    border-radius: 10%;
    vertical-align: bottom;
}
.about {
    grid-column: 2 / span 3;
    grid-row: 4;
    margin-left: 25%;
    margin-top: 20%;
}

.about h2 {
    mix-blend-mode: exclusion;
    margin-bottom: 0;
}

.about p {
    letter-spacing: 0.1em;
    margin-right: -0.1em;
    opacity: 60%;

    mix-blend-mode: exclusion;
    margin-left: 20%;
}


/*--------------------------- end ---------------------------*/

/*--------------------------- CONTACTS ---------------------------*/
.contacts {
    margin-top: 10%;

    grid-column: 1 / span 4;
    justify-self: center;
    text-align: center;
}

.contacts h2 {
    font-size: 10pt;
    font-weight: 200;
    letter-spacing: 1.4em;
    margin-right: -1.4em;

    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.618em;
}

.mail {
    letter-spacing: 0.1em;
    color: #f5f5f590;
    text-decoration: none;

    transition: color 0.4s;
}

.mail:hover {
    color: #f5f5f5;
}

.socials {
    margin-top: 4%;
    margin-bottom: 0%;
}

.social_icon {
    letter-spacing: 0;
    color: #f5f5f590;
    transition: color 0.4s;
    text-decoration: none;
    margin: 0 0.1em;
    justify-self: center;
}

.social_icon:hover {
    color: #f5f5f5;
}

/*--------------------------- end ---------------------------*/

/*--------------------------- FOOTER ---------------------------*/
footer {
    text-align: center;
    margin-bottom: 8px;
}

footer h2 {
    font-size: 8pt;
    font-weight: 200;
    color: #f5f5f560;
}
/*--------------------------- end ---------------------------*/


/*_____FONT EDIT____________________________________________________*/
.top_menu {
    font-size: clamp(12px, 12px + 100 * (100vw - 375px) / 1143, 24px);
}

.big_headline {
    font-size: clamp(28px, 28px + 120 * (100vw - 375px) / 1143, 60px);
}

.name_headline {
    font-size: clamp(12px, 12px + 100 * (100vw - 375px) / 1143, 24px);
}

.card_headline h2{
    font-size: clamp(24px, 24px + 100 * (100vw - 375px) / 1143, 56px);
}
.card_subheadline h2{
    font-size: clamp(12px, 12px + 100 * (100vw - 375px) / 1143, 24px);
}

.about h2{
    font-size: clamp(28px, 28px + 120 * (100vw - 375px) / 1143, 60px);
}
.about p {
    font-size: clamp(12px, 12px + 100 * (100vw - 375px) / 1143, 24px);
}

.contacts h2{
    font-size: clamp(12px, 12px + 100 * (100vw - 375px) / 1143, 24px);
}
.contacts a{
    font-size: clamp(8px, 8px + 100 * (100vw - 375px) / 1143, 18px);
}
.contacts .social_icon {
    font-size: clamp(24px, 24px + 100 * (100vw - 375px) / 1143, 56px);
}

@media screen and (min-width: 375px) and (max-width: 768px) and (orientation:landscape){
    .card_headline h2{
        font-size: clamp(12px, 12px + 50 * (100vw - 375px) / 1143, 26px);
    }
    .card_subheadline h2{
        font-size: clamp(8px, 8px + 60 * (100vw - 375px) / 1143, 12px);
    }

    .about h2 {
        font-size: clamp(24px, 24px + 100 * (100vw - 375px) / 1143, 56px);
    }
    .about p {
        font-size: clamp(8px, 8px + 100 * (100vw - 375px) / 1143, 16px);
    }

    .contacts h2 {
        font-size: clamp(12px, 12px + 50 * (100vw - 375px) / 1143, 26px);
    }
    .contacts a {
        font-size: clamp(8px, 8px + 100 * (100vw - 375px) / 1143, 16px);
    }
    .contacts .social_icon {
        font-size: clamp(12px, 12px + 50 * (100vw - 375px) / 1143, 26px);
    }
}

/*_____TABLETS____________________________________________________*/
@media screen and (min-width: 768px) and (max-width: 1200px){

    .top_menu {
        font-size: clamp(24px, 24px + 75 * (100vw - 768px) / 1759, 34px);
    }

    .big_headline {
        font-size: clamp(60px, 60px + 150 * (100vw - 768px) / 1759, 80px);
    }

    .name_headline {
        font-size: clamp(24px, 24px + 75 * (100vw - 768px) / 1759, 34px);
    }

    .about h2{
        font-size: clamp(60px, 60px + 150 * (100vw - 768px) / 1759, 80px);
    }

    .contacts h2{
        font-size: clamp(24px, 24px + 75 * (100vw - 768px) / 1759, 34px);
    }
    .contacts a{
        font-size: clamp(14px, 14px + 50 * (100vw - 768px) / 1759, 20px);
    }
    .contacts .social_icon {
        font-size: clamp(26px, 26px + 62 * (100vw - 768px) / 1759, 34px);
    }

    footer h2{
        font-size: 12px;
    }

    @media (orientation:landscape) {
        .card_headline h2{
            font-size: clamp(26px, 26px + 62 * (100vw - 768px) / 1759, 34px);
        }
        .card_subheadline h2{
            font-size: clamp(12px, 12px + 62 * (100vw - 768px) / 1759, 20px);
        }
        .about p {
            font-size: clamp(12px, 12px + 62 * (100vw - 768px) / 1759, 20px);
        }
    }

    @media (orientation:portrait) {
        .card_headline h2{
            font-size: clamp(55px, 55px + 130 * (100vw - 768px) / 1759, 73px);
        }
        .card_subheadline h2{
            font-size: clamp(24px, 24px + 75 * (100vw - 768px) / 1759, 34px);
        }
        .about p {
            font-size: clamp(24px, 24px + 75 * (100vw - 768px) / 1759, 34px);
        }
    }
}

/*_____TAB-LAP END____________________________________________________*/
/*_____ EXTRA LARGE SCREEN____________________________________________________*/
@media screen and (min-width: 1200px) {
    .top_menu {
        font-size: clamp(42px, 42px + 100 * (100vw - 1200px) / 3300, 80px);
    }

    .big_headline {
        font-size: clamp(100px, 100px + 150 * (100vw - 1200px) / 3300, 300px);
    }

    .name_headline {
        font-size: clamp(42px, 42px + 100 * (100vw - 1200px) / 3300, 80px);
    }

    .card_headline h2{
        font-size: clamp(42px, 42px + 100 * (100vw - 1200px) / 3300, 80px);
    }
    .card_subheadline h2{
        font-size: clamp(32px, 32px + 100 * (100vw - 1200px) / 3300, 80px);
    }

    .about h2{
        font-size: clamp(100px, 100px + 150 * (100vw - 1200px) / 3300, 300px);
    }
    .about p{
        font-size: clamp(32px, 32px + 75 * (100vw - 1200px) / 3300, 80px);
    }

    .contacts h2{
        font-size: clamp(42px, 42px + 75 * (100vw - 1200px) / 3300, 80px);
    }
    .contacts a{
        font-size: clamp(24px, 24px + 75 * (100vw - 1200px) / 3300, 100px);
    }
    .contacts .social_icon {
        font-size: clamp(50px, 50px + 75 * (100vw - 1200px) / 3300, 90px);
    }

    footer h2{
        font-size: clamp(18px, 18px + 150 * (100vw - 1200px) / 3300, 32px);
    }

}
/*_____EXTRA LARGE END____________________________________________________*/


@media screen and (orientation:landscape){
    header {
        margin-bottom: 5%;
    }
    .container {
        grid-template-columns: repeat(12, 1fr);
    }

    .about {
        margin-top: 40%;
        grid-column: 6 / span 6;
        grid-row: 3;
    }
    .portrait {
        grid-column: 2 / span 6;
        grid-row: 3;
    }

    .contacts {
        margin-top: 15%;
        grid-column: 4 / span 6;
    }

    .swiper {
        grid-column: 2 / span 4;
    }

    .column_new_start {
        grid-column: 8 / span 4;
    }
}
