body {
    background-image: linear-gradient(to top, #1b1c1d, #1c1d1e, #1c1d1f, #1d1e20, #1e1e21, #1f1f22, #202023, #212124, #222226, #232427, #252529, #26272a);
    margin: 0;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
}

body h2 {
    font-weight: 200;
}

/*---------------------------------------FONT*/
.f_base24 {
    font-size: 24pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;

    margin-top: 0;
    margin-bottom: 0;
}

.f_base8 {
    font-size: 8pt;
    font-weight: 300;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
}
.f_base12 {
    font-size: 12pt;
    font-weight: 200;
    letter-spacing: 0.618em;
    margin-right: -0.618em;
}

/*--------------------------- HEADER ---------------------------*/

header {
    margin-top: 16px;
    display: grid;
    justify-content: center;
    margin-bottom: 5%;
}

.big_headline {
    grid-column: 1 / span all;
    justify-self: center;
}

.name_headline {
    font-size: 9pt;

    grid-row: 3;

    justify-self: center;

    margin-bottom: 0;

    opacity: 90%;
}

.top_menu {
    font-size: 9pt;

    letter-spacing: 0.3em;
    margin-right: -0.3em;
    word-spacing: 1em;

    justify-self: center;

    text-align: left;

    margin-top: 5%;
    margin-bottom: 6%;
}

.top_menu a {
    color: #f5f5f590;
    text-decoration: none;

    transition: color 0.4s;
}

.top_menu a:hover {
    color: #f5f5f5;
}

/*--------------------------- header end ---------------------------*/

.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    max-height: 70vh;
    width: 100vw;
}

.swiper {
    width: 100%;
    max-height: 100%;
    grid-column: 2/span 2;
}

.container img {
    display: block;
    width: 100%;
    max-height: 100%;

    object-fit: cover;

    border-radius: 4%;
}


.swiper-slide {
    background-position: center;
    background-size: cover;
}

.card_headline {
    grid-column: 2/span 2;
    justify-self: center;
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    position:absolute;
    bottom:0;
}

footer h2 {
    font-size: 5pt;
    font-weight: 200;
    color: #f5f5f560;
}